html {
    scroll-behavior: smooth;
}
footer {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-style: groove;
    border-width: medium;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 68, 68);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: rgb(0, 0, 0);
    color:rgb(199, 68, 68);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.menu {
    display:flex;
    justify-content: flex-end;
    gap: 5px;
}
.menu a{
    display:inline-block;
    width: 80px;
    text-align: center;
    padding: 15px; 
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: rgb(199, 68, 68);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu a:hover {
    background-color: rgb(255, 255, 255);
    opacity: 1.0;
    color: rgb(199, 68 ,68);
}
.menu-toggle{
    display: none;
    font-size: 27px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
    }
    .menu a {
        margin: 10px 0;
    }
    .menu-toggle {
        display: block;
    }
    .menu.active {
    display:flex;
    }
}
.início {
    color:rgb(201, 69, 69);
    display: flex;
    justify-content: space-between;
    background-color: rgba(5, 2, 2, 0.945);
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    width: auto;
}
 .img1 img {
    background-color: rgb(169, 68, 68);
    height:auto;
    max-width: 100%;
    border-radius: 50%;
}
.início p{
    color:rgb(255, 255, 255);
    text-align:justify;
}
.texto1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(5, 2, 2, 0.945);
    color:rgb(255, 255, 255)
}
.texto1 .content{
   width: 50%;
   text-align: justify ;
}
.texto1 h1{
    text-align: center;
}
.links {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.links a {
   font-size: 40px;
    color:rgb(169, 68, 68);
    transition: color 0.3s, transform 0.3s;
}
.links a:hover {
    transform: scale(1.5);
}
{}